/* style */

.container_top {
  position: fixed;
  background: rgba(255, 255, 255, 0.459);
  color: #f1f1f1;
  width: 3%;
}

.container_top_pause {
  position: fixed;
  margin-top: 4%;
  background: rgba(255, 255, 255, 0.459);
  color: #f1f1f1;
  width: 3%;
}

.content {
  text-align: center;
  position: fixed;
  top: 8%;
  background: rgba(255, 255, 255, 0.459);
  color: #f1f1f1;
  margin: auto;
  width: 40%;
  height: 60px;
  padding: 10px;
  min-width: 290px;
}

.container_title {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.container_list {
  /* text-align: center; */
  position: fixed;
  top: 45%;
  /* color: #f1f1f1; */
  /* margin: auto; */
  width: 45%;
  height: 50px;
  /* padding: 10px; */
  min-width: 290px;
  left: 25%;
}

.ulist {
  list-style-type: none;
  list-style: none;
}

.list {
  cursor: pointer;
}

.item {
  padding: 10px 0 10px 0;
  background: rgba(255, 255, 255, 0.459);
  border: solid rgba(255, 255, 255, 0.0) 2px;
  margin: 10px 0 0px 0;
  text-align: center;
  /* margin-left: 35%; */
}

.item:hover {
  border: solid white 2px;
}

.container_weather {
  display: inline-flexbox;
  position: fixed;
  margin-top: 3%;
  margin-left: 72%;
  background: rgba(255, 255, 255, 0.459);
  color: #f1f1f1;
  width: 25%;
  min-width: 290px;
}

#full_date {
  margin: 6% 0px 0px 8%;
}

#w1 {
  display: flex;
  margin-right: 80%;
  margin-bottom: 0px;
  padding: 0px;
}

#time {
  margin-top: 5%;
  margin-left: 8%;
  position: absolute;
}

#date {
  position: absolute;
  margin: 5% 0 0 42%
}

#temp {
  position: absolute;
  margin: 5% 0 0 78%;
}

#w2 {
  display: inline-flex;
  padding: 0px;
}

#descweather1 {
  margin: 23% 0 0 10%;
  padding: 0px;
}

#descweather2 {
  margin: 20% 0 0 18%;
  padding: 0px;
}

#icon {
  margin: 12% 0 0 18%;
}

#mute_image {
  max-width: 100%;
}

#play_image {
  max-width: 100%;
  margin-right: 11px;
  margin-top: 5px;
}

#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}