/* style */

.container_top {
  position: fixed;
  background: rgba(255, 255, 255, 0.459);
  color: #f1f1f1;
  width: 3%;
}

.container_top_pause {
  position: fixed;
  margin-top: 4%;
  background: rgba(255, 255, 255, 0.459);
  color: #f1f1f1;
  width: 3%;
}

.content {
  text-align: center;
  position: fixed;
  top: 8%;
  background: rgba(255, 255, 255, 0.459);
  color: #f1f1f1;
  margin: auto;
  width: 50%;
  padding: 10px;
  min-width: 230px;
}

.container_title {
  margin: auto;
  width: 50%;
  padding: 10px;
}

#mute_image {
  max-width: 100%;
}

#play_image {
  max-width: 100%;
  margin-right: 11px;
  margin-top: 5px;
}

#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}